@import-normalize;
@import 'reset.scss';
@import 'helper.scss';

body {
  margin: 0;
  font-family: $font-hei;
  font-size: 16px;
  line-height: 1.2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.icon {
  width: 1em;
  height: 1em;
}